.content
  position absolute
  top 50%
  right 0
  left 0
  margin auto
  padding 0
  width 662px
  height 662px
  border solid 1px gray
  transform translateY(-50%)

  &__h
    margin 3px 0
    padding 0
    display flex
    justify-content center
    height 25px
    text-align center

  &__h-el
    margin 0
    padding 0
    display inline-block
    width 75px

  &__wrap
    display flex
    justify-content center

  &__v
    margin 0 3px
    padding 0
    display inline-block
    width 25px
    vertical-align middle

  &__v-el
    margin 0
    padding 0
    width 25px
    height 75px
    line-height 75px
    text-align center

  &__field
    margin 0
    padding 0
    display inline-block
    width 600px
    height 600px
    vertical-align middle
    border solid 1px gray
